
@{
    ViewData["Title"] = "Asegurado";
}

<h1>Asegurado</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha de Nacimiento</th>
            <th>Edad</th>
            <th>Estado Civil</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts{
    <script>
    $(document).ready(function () {
        $(".table").DataTable({
            "ajax": {
                "url":
            }
        });
    });
    </script>
}